<section>
<img src="http://3.bp.blogspot.com/_BNcmOyXopYc/TTyXgkz0qNI/AAAAAAAAAjk/X3fov2h7Yhk/s1600/2008_uk_flagoj.JPG" width="256" height="256"></br>
<h3>معجم الاسبرانتو</h3></br>
<iframe id="vortarokadro" name="vortarokadro" src="http://ar.lernu.net/cgi-bin/vortaro.pl" frameborder="0" scrolling="no" width="256" height="256"></iframe>
  <h1>مقالات سابقة</h1>
  <ul id="recent_posts">
    {% for post in site.posts limit: site.recent_posts %}
      <li class="post">
        <a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
      </li>
    {% endfor %}
  </ul>
</section>
