<p style="text-align: center;">
            Copyright © 2013 <a href="http://www.facebook.com/tamoukriste"> تصميم أحمد منصور</a> 
            هذا الموقع مُنشأ و يُدار بأدوات مفتوحة المصدر و محتواه منشور <a href="http://creativecommons.org/licenses/by-sa/3.0/">برخصة المشاع الإبداعي: النسبة-بذات الرخصة، الإصدارة 3.0</a><br />
<a href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="برخصة المشاع الإبداعي: النِّسبة-بذات الرخصة 3.0" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" title="منشور برخصة المشاع&nbsp;الإبداعي: النِّسبة-بذات&nbsp;الرخصة، الإصدارة&nbsp;3.0"></a></p>
