<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

<!--Picachoose gallery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
<link type="text/css" href="{{ root_url }}/stylesheets/styles/simple.css" rel="stylesheet" />
<script type="text/javascript" src="/javascripts/pica/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/javascripts/pica/jquery.pikachoose.js"></script>
<script language="javascript">
                   $(document).ready(
                                function (){
                                        $("#pikame").PikaChoose({transition:[3]});

                                });
</script>
